<html>
  <head>
    <script type="text/javascript">
      (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);

    </script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Load Feather code -->
    <script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

    <!-- Instantiate Feather -->
    <script type='text/javascript'>
	var imageUrl;
	filepicker.setKey('ATfkz3LBRG8uTkZJ1U3ugz');
	function upload() {
	    filepicker.pick(function(InkBlob){
		console.log(InkBlob.url);
		imageUrl = InkBlob.url;
		document.getElementById('image1').src = imageUrl;
		launchEditor('image1', imageUrl);
	    });
	
	}
	
	var featherEditor = new Aviary.Feather({
	    apiKey: '52e21fc98a702610',
	    apiVersion: 3,
	    theme: 'dark', // Check out our new 'light' and 'dark' themes!
	    tools: 'all',
	    postUrl: window.location.origin + '/upload' ,
	    appendTo: '',
	    onSave: function(imageID, newURL) {
		var img = document.getElementById(imageID);
		img.src = newURL;
		//alert("");
	    },
	    onError: function(errorObj) {
		alert(errorObj.message);
	    },
	    onClose: function(isDirty) {
	        var img = document.getElementById('image2');
	        img.src = '/temp2.jpg';
		$.ajax({
		    type: "GET",
		    url: "/query/",
		    contentType: "application/json; charset=utf-8",
		    data: { echoValue: 'hi'},
		    success: function(data) {
			$('#content').html(data.value);
			//alert(data.value);
		    }
		});   

	    }
	});
	function launchEditor(id, src) {
	    featherEditor.launch({
		image: id,
		url: src
	    });
	    return false;
	}
    </script>
  </head>
  <body>
    <div id='injection_site'></div>
    <center><h1><div id='content'>Search for Movies and TV Shows by uploading Images</div></h1>
    <!-- Add an upload/edit button, passing the HTML id of the image and the public URL of the image -->
    <p><input type='button' value='Upload+Edit photo' onclick="return upload();" style="height:50%; width:50%"/></p>
    </center>


    <img id='image1' src='http://placehold.it/350x150' style="visibility:hidden"/>
    <img id='image2' src='/temp2.jpg' style="visibility:hidden"/>
    

  </body>
</html>
